<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="css/debug.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900">
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script>
        </script>
    </head>
    <body>
        <div id="app">
            <span v-if="hasMessage" :title="vue">{{message}}</span>
            <button @click="logMessage">Click me!</button>
            <button @click="toggleMessage">toggle Message</button>
            <form>
                <input v-model="message" type="text" />
                <input v-model='hasMessage' type="checkbox" />
            </form>
        </div>
        <script>
        "use strict"
        var app = new Vue({
            el: '#app',
            data: {
                message: 'From Zero to Hero with Vue!',
                hasMessage: true,
                vue: 'Vue.js is an open-source Javascript framework for buliding user interfaces.',
            },
            methods: {
                logMessage() {
                    console.log(this.message);
                },
                toggleMessage(){
                     this.hasMessage = !this.hasMessage;
                }
            }
        })
        </script>
    </body>
</html>
